In [1]:
# %pip install numpy pandas
# %pip install --upgrade openpyxl

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

# import os
# print(os.listdir("../input"))

# Any results you write to the current directory are saved as output.

/opt/anaconda3/lib/python3.9/site-packages/pandas/core/computation/expressions.py:21: UserWarning: Pandas requires version '2.8.4' or newer of 'numexpr' (version '2.8.3' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED
/opt/anaconda3/lib/python3.9/site-packages/pandas/core/arrays/masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
train=pd.read_csv('../input/train.csv')
merchants=pd.read_csv('../input/merchants.csv')
data_dict=pd.read_excel('../input/Data_Dictionary.xlsx')
hist_trans=pd.read_csv('../input/historical_transactions.csv')

In [3]:
hist_trans.head(10)

,authorized_flag,card_id,city_id,category_1,installments,category_3,merchant_category_id,merchant_id,month_lag,purchase_amount,purchase_date,category_2,state_id,subsector_id
0,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-8,-0.703331,2017-06-25 15:33:07,1.0,16,37
1,Y,C_ID_4e6213e9bc,88,N,0,A,367,M_ID_86ec983688,-7,-0.733128,2017-07-15 12:10:45,1.0,16,16
2,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-6,-0.720386,2017-08-09 22:04:29,1.0,16,37
3,Y,C_ID_4e6213e9bc,88,N,0,A,560,M_ID_e6d5ae8ea6,-5,-0.735352,2017-09-02 10:06:26,1.0,16,34
4,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_e020e9b302,-11,-0.722865,2017-03-10 01:14:19,1.0,16,37
5,Y,C_ID_4e6213e9bc,333,N,0,A,80,M_ID_50af771f8d,0,-0.734887,2018-02-24 08:45:05,1.0,9,37
6,Y,C_ID_4e6213e9bc,88,N,0,A,278,M_ID_5e8220e564,-11,-0.716855,2017-03-21 00:10:51,1.0,16,37
7,Y,C_ID_4e6213e9bc,3,N,0,A,80,M_ID_9d41786a50,-3,-0.657049,2017-11-18 20:05:55,1.0,16,37
8,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_979ed661fc,-8,-0.737967,2017-06-01 22:02:56,1.0,16,37
9,Y,C_ID_4e6213e9bc,88,N,0,A,80,M_ID_74ba14b5fc,-11,-0.715352,2017-03-16 15:41:22,1.0,16,37

In [4]:
from sklearn.ensemble import RandomForestRegressor

In [5]:
from sklearn.neural_network import MLPRegressor

In [6]:
train.columns

Index(['first_active_month', 'card_id', 'feature_1', 'feature_2', 'feature_3',
       'target'],
      dtype='object')

Random forest

In [ ]:
#model=RandomForestRegressor(n_estimators=1000)
#model.fit(train[['feature_1', 'feature_2', 'feature_3']],train['target'])

MLP

In [7]:
model=MLPRegressor(hidden_layer_sizes=(100,100,100))
model.fit(train[['feature_1', 'feature_2', 'feature_3']],train['target'])

MLPRegressor(hidden_layer_sizes=(100, 100, 100))

In [8]:
test=pd.read_csv('../input/test.csv')

In [9]:
predicted=model.predict(test[['feature_1', 'feature_2', 'feature_3']])

In [10]:
predicted

array([-0.6038151 , -0.30249867, -0.520732  , ..., -0.520732  ,
       -0.38923927, -0.520732  ])

In [11]:
output=pd.DataFrame()
output['card_id']=test['card_id']
output['target']=predicted
output.to_csv('output.csv',index=False)